nav {
    background-color: black;
}

h3 {
    line-height: 3; 
}
p {
    line-height: 1.5;
}


nav ul li a:hover {
    color: rgb(212, 81, 153);
}

/*navbar logo */
.logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}


.navbar-chat-button {
    border-radius: 20px;
    background-color: rgb(255, 0, 140); /* pink */
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar-chat-button:hover {
    background-color: rgb(168, 4, 94); /* darker pink */
    color: white;
}

/*responsive navbar text padding*/
@media (min-width: 992px) {
    .navbar li {
        margin-left: 1.8em;
        margin-right: 1.8em;
    }
}

.nav-text-style {
    font-weight: 500;
}

.button-container {
    padding-right: 20px;
}

/* lets chat navbar button  */
.navbar-chat-button {
    border-radius: 20px;
    background-color: white;
    color: rgb(168, 4, 94);
    margin-right: 50px;
    border: none;
    padding: 12px;
    width: 100%;
    font-weight: bold;
}

.button-container {
    margin-right: 30px;
}

body {
    margin: auto;
}

.header-home {
    margin: 0px;
    padding: 54px;
    background-color: #ffebf8;
    height: 100%;
    margin-bottom: 20px;

}

.header-contact{
    
    background-color: #ffebf8;
    height: 100%;
    margin-bottom: 20px;
    padding: 70px;

}



.special {
    color: rgb(168, 4, 94);
    font-weight: bold;
}

.welcome-text {
    font-size: 18px;
    padding-top: 10px;
    line-height: 1.5em;
}

.cv {

    color: white;
    background-color: rgb(185, 31, 108);
    border: none;  
    padding: 12px ;
    text-decoration: none;
    border-radius: 50px;
    display:inline-block;
    font-weight: bold;

}
.cv-icon{
    font-size: 20px;
    margin-left: 10px;
}

.cv:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 64, 169);
    border: none;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.header-image {
    width: 500px;
    height: 500px;
}

.tools {
    background-color: #fff8fc;
    margin: 0px;
    height: 100%;
}

.services {
    padding: 50px;
    margin: 0px;
    height: 80%;
}



.footer {
    background-color: black;
    padding: 30px 0;
    color: white;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.footer-list li {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-list a {
    color: white;
    text-decoration: none;
}

.footer-list a:hover {
    color: rgb(226, 43, 156);
}

.footer i {
    margin-right: 8px;
    font-size: 18px;
}

.services-header {
    color: rgb(168, 4, 94);
    
}

.cards {
    
    margin-right: auto;
    display: -webkit-flex;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    -webkit-justify-content: center;
    justify-content:space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    flex-direction: column;
    padding: 1.8%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cards:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
    border: 1px solid rgb(255, 10, 145);
}
.skills-expertise{
    padding: 40px;
}
p{
font-size: 17px;
}

.reachUs-button {
    padding: 1rem;
    background-color: rgb(255, 0, 140);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.reachUs-button:hover{
    background-color: rgb(255, 0, 140)
}
 

 .whatsap-link{
    text-decoration: none;
    color: rgb(168, 4, 94);

 }
 .whatsap-link:hover{
    color:rgb(255, 0, 140)
 }
.contact-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.form-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contact-form h4 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid rgb(228, 77, 177);
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

.submit-button:hover{
    background-color: rgb(168, 4, 94);
    color: white;
}
 
/* Contact info styles */
.contact-info {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}
 
.contact-info h4 {
    margin-bottom: 20px;
}

.contact-vector{
    width: 100vh;
    margin-right: -30px;
    
}
.icon-bg{
    background-color: rgb(226, 43, 202);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    
}
.icon{
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}

.contact-info:hover{
    border: 1px solid #dee1f3;
}

.carousel-image{
    width: 50%;
    height: 50%;
}
@media only screen and (max-width: 600px) {
    .contact-info{
        width: 100%
    }
    .contact-vector{
        width: 800px;
    }
    .header-image{
        width: 300px;
        height: 300px;
        margin-top: 10px;
        padding-left: 20px;
      
    }
    .carousel-image{
        width: 400px;
        height: 300px
    }
    .card{
        width: 100%;
        margin-bottom: 10px;
    }
   
  }
a:hover{
    color:rgb(226, 43, 156)
}
i:hover{
    color: rgb(226, 43, 156;
}  
.btn-project-site{

    color: white;
    text-decoration: none;
   
}
.btn-project-site:hover{

    color: white;
    text-decoration: none;
   
}
.btn-project{
    background-color: rgb(226, 43, 156);
    border-radius: 8px;
    width: 60px;
    border: none;
    padding:8px;
    color: white;
}
.btn-project:hover{
    background-color: black;
    color:rgb(226, 43, 150);
    box-shadow: #f7f7f7;

}
.personal-projects{
    margin: 20px;
}